/* Index All- Mobile first */

html{
    scroll-behavior: smooth;
}
@import url(../consts.css);

.myLogo {
    color: var(--green-2);
    display: block;
}

header {
    background-color: #DEDEDE;
    box-shadow: inset 1px 8px 4px rgba(0, 0, 0, 0.747);
}

.fastNaving.showShortCut {
    opacity: .94;
    box-shadow: 1px 4px 4px #0000007D;
    border: 1px solid black;
    background-color: #272727;
    transform: translateY(0px);
}

.fastNaving.showShortCut:hover {
    background-color: #303030;
    opacity: 1;
}

.fastNaving {
    display: grid;
    place-content: center;
    position: fixed;
    font-weight: bolder;
    z-index: 999;
    right: 12px;
    bottom: 12px;
    width: 55px;
    height: 55px;
    padding: 18px;
    border-radius: 100%;
    transition: all .3s;
    color: transparent;
    transform: translateY(60px);
}

.map_iframe {
    box-shadow: inset 0px 0px 8px #00000075;
    outline: 2px solid #073d28;
    border: 2px solid var(--green-1);
    max-height: 360px;
    border-radius: 8px;
    margin: 0px auto;
    width: 98%;
    background-color: #353d3b6c;
}

.img_description {
    display: block;
    margin-right: 8px;
    margin-bottom: 20px;
    text-align: right;
    font-size: .65em;
}

.img_description a {
    display: inline-block;
    text-decoration: underline;
}

.showMore {
    margin: 8px 0px;
    cursor: pointer;
    padding: 8px;
    border-radius: 8px;
    color: var(--backg-color-contentBody);
    border: none;
    background-color: var(--green-2);
    font-size: 1.15rem;
    font-weight: bold;
    transition: all .3s ease;
}
.showMore:hover{
    box-shadow: 1px 2px 4px #0000004F;
    transform: translateY(-6px);
    transform: translateX(-1px);
}

.plus_content {
    display: none;
}

.plus_content.show {
    display: block;
}

.plus_content img,
.plus_content iframe {
    box-shadow: inset 0px 0px 4px #00000075;
    margin: 18px 0px 0px;
    width: 100%;
    border-radius: 8px;
    outline: 2px solid #073d28;
    border: 2px solid var(--green-1);
}

.hero {
    display: grid;
    padding: 10px;
    height: 380px;
    margin: 0 auto;
    background: #073d28 no-repeat;
    border-radius: 0px 0px 30px 30px;
    box-shadow: inset 2px -4px 8px rgba(48, 48, 48, 0.685);
}

.hero p {
    font-size: 1.6rem;
    align-self: end;
    padding: 4px;
    font-weight: bold;
    color: #353d3b;
    text-shadow: -1px -1px 2px #F0CB66;
    font-family: var(--h-font-family);
}

.mainAboutMoz {
    padding: var(--size-level-3);
    box-shadow: inset 2px -4px 2px rgba(0, 0, 0, 0.384);
    border-bottom: 1px solid rgba(0, 0, 0, 0.445);
    background: #DEDEDE no-repeat;
    font-size: 1.2rem;
    border-radius: 0px 0px 30px 30px;
}

li {
    margin-bottom: 8px;
    margin-left: 25px;
}

li::before {
    content: "» ";
}

aside {
    padding: 14px 0px;
    display: flex;
    flex-flow: row wrap;
}

.categoria {
    flex: 1 1 275px;
    display: grid;
    align-content: space-between;
    height: 280px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.678);
    border-radius: var(--size-level-3);
    margin: var(--size-level-4);
    background: #DEDEDE no-repeat;
    overflow: hidden;
}

.categoria p:last-of-type {
    margin-bottom: 0px;
    margin-top: 0px;
    margin: 4px;
}

aside .categoria h2 {
    font-size: 2.4rem;
    padding: 14px;
    color: #FFF;
    align-self: start;
    justify-self: start;
    transition-timing-function: ease;
    transition: all .3s;
}

aside .categoria .breveMensagem {
    color: #ffffff;
    line-height: 1.1rem;
    letter-spacing: .025rem;
    font-size: .9rem;
    padding: 10px;
    background-color: rgba(48, 48, 48, 0.75);
    transition-timing-function: ease;
    transition: all .3s;
}

aside .categoria:hover .breveMensagem {
    filter: contrast(1.5);
}

.campoMensagem {
    background: #848484 no-repeat;
}

a {
    display: contents;
}

.pageNav {
    margin: 40px 0px;
    border-radius: 8px;
    padding: 8px;
    padding-top: 0;
    outline: 2px solid #073d28;
    border: 2px solid var(--green-1);
    font-family: var(--h-font-family);
}

.pageNav h3 {
    margin-top: 10px;
    font-size: 1.5em;
}

.pageNav a {
    text-decoration: none;
    font-size: 1em;
    color: #073d28;
    display: inline-block;
    transition: font-weight .3s ease;
}

.pageNav a:hover {
    font-weight: bold;
}

.pageNav .mainsTitles::before {
    content: "↪ ";
    color: #073d28;
}

.pageNav .subTitles {
    padding-left: 18px;
}

.important {
    max-width: 660px;
    margin: 20px 0px;
    background-color: #434645;
    color: #DEDEDE;
    border-radius: 22px;
    border-end-start-radius: 0px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.57);
    padding: 18px;
    box-sizing: border-box;
}

strong {
    font-weight: bold;
    font-size: 1.05em;
}

.important strong {
    color: #FFB01F;
    text-rendering: geometricPrecision;
}

.important a {
    display: inline-block;
    color: #FFB01F;
    text-decoration: underline;
}


/* Background Images */
.hero {
    background-image: url("../../imagens/beach_moz_long.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.categoria#idPovincias {
    background-image: url("../../imagens/praca-da-independencia-maputo.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
}

.categoria#idNatureza {
    background-image: url("../../imagens/river.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
}

.categoria#idCulinaria {
    background-image: url("../../imagens/rajas_temperos.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.categoria#idVoos {
    background-image: url("../../imagens/maputo_v_drone.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.categoria#idMainPage{
    background-image: url("../../imagens/beach_moz_long.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}