:root {
    /* Greens */
    --green-1: #437D6F;
    --green-2: #30cf30;
    --green-3: #0b3029;
    --green-1-hover: #4d9987;
    --green-4-solf: #174e43;
    --green-4-dark: #0a2c26;

    /* Int Scales */
    --size-level-1: 8px;
    --size-level-2: 12px;
    --size-level-3: 16px;
    --size-level-4: 18px;

    /* BackGrounds */
    --backg-color-contentBody: #E9E9E9;

    /* Text */
    --font-default--font: 14px "Open Sans", sans-serif;
    --text-default--color: #08231E;

    /* H's */
    --h-font-family: "Outfit", sans-serif;
    --h-default-color: #2b6657;
}

section{
    margin-bottom: 30px;
}

section p {
    margin-top: 8px;
}
section p:last-of-type {
    margin-bottom: 40px;
}

.naving {
    background: var(--green-4-solf);
    height: 60px;
    width: 100%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.808);
}

.footer {
    background: var(--green-4-solf);
    height: 60px;
    width: 100%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.808);
}

h1,
h2,
h3,
h4, 
h5{
    font-family: var(--h-font-family);
    color: var(--h-default-color);
    font-weight: bold;
    letter-spacing: 1%;
    text-shadow: 1px 1px 1px #0000005e;
}

html {
    background-color: var(--green-1);
}

* {
    list-style: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--font-default--font);
}

.contentBody {
    background: var(--backg-color-contentBody);
    font: var(--font-default--font);
    color: var(--text-default--color);
    box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.747);
    display: block;
    overflow: hidden;
    max-width: 908px;
    margin: 0 auto;
}

::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-thumb {
    border-radius: var(--size-level-4);
    box-shadow: inset 2px 2px 3px black;
    background-color: var(--text-default--color);
    border-left: 1px solid var(--green-1);
}

::-webkit-scrollbar-track {
    border-radius: var(--size-level-1);
}

::-webkit-scrollbar-track-piece {
    background-color: #255a4d6e;
}



/* /////////////////////////////////////  Buld 1 */