/* Medias Queres para a pagina index */
@charset "UTF-8";
@import url(constsQ.css);
@media screen and (min-width: 319px) and (max-width: 480px) {

    /* Mobile */
    * {
        font-size: 1.05em;
    }

    .floatingIcons div {
        padding: 10px;
    }

    .map_iframe {
        max-height: 300px;
    }

    .mainAboutMoz {
        padding: var(--size-12);
    }
}
@media screen and (min-width: 481px) and (max-width: 768px) {

    /* Tablets */
    * {
        font-size: 1.07em;
    }
    .floatingIcons div {
        padding: 12px;
    }
    .mainAboutMoz {
    padding: var(--size-16);
}

    .map_iframe {
        max-height: 500px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1444px) {

    .naving{
        justify-content: center;
    }

    /* Pc */
    * {
        font-size: 1.09em;
    }

    .floatingIcons div {
        padding: 14px;
    }

    .map_iframe {
        max-height: 600px;
    }

    .contentBody {
        margin: 0 auto;
    }
    .mainAboutMoz {
    padding: var(--size-22);
}
}

@media print {

    /* Print */

    
}

@media screen and (min-width: 1444px) {

    /* Tv/+ */

    .naving{
        justify-content: center;
    }
    .floatingIcons div {
        padding: 16px;
    }

    * {
        font-size: 1.11em;
    }

    .contentBody {
        margin: 0 auto;
    }
    .mainAboutMoz {
    padding: var(--size-24);
}
}