/* Consts Media Q */
@charset "UTF-8";
@import url(/styles/consts.css);

@media screen and (min-width: 481px) and (max-width: 768px) {

    /* Tablets */
    ::-webkit-scrollbar {
        height: 12px;
        width: 12px;
    }
    * {
        font-size: 1.08em;
    }

    .contentBody {
        max-width: 1008px;
        margin: 0 auto;
        margin-bottom: 0px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1444px) {

    /* Pc */
    ::-webkit-scrollbar {
        height: 14px;
        width: 14px;
    }
    * {
        font-size: 1.1em;
    }

    .contentBody {
        max-width: 1008px;
        margin: 0 auto;
        margin-bottom: 0px;
    }
}

@media print {
    /* Print */

}

@media screen and (min-width: 1444px) {

    /* Tv/+ */
    ::-webkit-scrollbar {
        height: 16px;
        width: 16px;
    }
    * {
        font-size: 1.12em;
    }

    .contentBody {
        max-width: 1008px;
        margin: 0 auto;
        margin-bottom: 0px;
    }

}
