/* Medias Queres para a pagina index */
@charset "UTF-8";
@import url(constsQ.css);

@media screen and (min-width: 481px) and (max-width: 768px) {

    /* Tablets */
    * {
        font-size: 1.08em;
    }

    .fastNaving {
        right: 18px;
        bottom: 18px;
        width: 48px;
        height: 48px;
        padding: 18px;
    }

    .map_iframe {
        max-height: 500px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1444px) {

    /* Pc */
    /* h1 {
        font-size: 3.5rem;
        display: block;
    } */

    * {
        font-size: 1.10em;
    }

    .fastNaving {
        right: 18px;
        bottom: 18px;
        width: 50px;
        height: 50px;
        padding: 18px;
    }
    .map_iframe {
        max-height: 600px;
    }

    .contentBody {
        margin: 0 auto;
    }
}

@media print {
    /* Print */

}

@media screen and (min-width: 1444px) {

    /* Tv/+ */
    .fastNaving {
        right: 20px;
        bottom: 20px;
        width: 52px;
        height: 52px;
        padding: 20px;
    }

    * {
        font-size: 1.12em;
    }

    .contentBody {
        margin: 0 auto;
    }
}